@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Lexend&family=Michroma&family=Orbitron&family=Space+Grotesk&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
font-family: 'Electrolize', sans-serif;
font-family: 'Lexend', sans-serif;
font-family: 'Michroma', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Space Grotesk', sans-serif;
*/

h1 {
  font-family: 'Michroma', sans-serif;
}
p {
  font-family: 'Lexend', sans-serif;
}

body,
html {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#hero-bg {
  background-image: url('./assets/skyscrapers-100.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer-bg {
  background-image: url('./assets/abstract-lines.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

#get-started {
  background-image: url('./assets/nightsky.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#login-bg {
  background-image: url('./assets/landscape-moon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.small-text {
  font-size: 12px;
}
