@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Lexend&family=Michroma&family=Orbitron&family=Space+Grotesk&display=swap');

/*
font-family: 'Electrolize', sans-serif;
font-family: 'Lexend', sans-serif;
font-family: 'Michroma', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Space Grotesk', sans-serif;
*/

body,
html {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#footer-bg {
  background-image: url('./assets/wallpaper3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-bg {
  background-image: url('./assets/landscape.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome-bg {
  background-image: url('./assets/borg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
